html{
	background:  #ffffff
	 no-repeat center center fixed;
    background-size: cover;
	}
	body{
		text-align: center;
		color:#000000;
	}
	footer{
	font-size: 8px;
	position: fixed;
	bottom: 2px;
}
.reminder{
	font-size: 11px;
}
	#location {
		text-align: center;
		font-size: 45px;
		}
	.weather {
		text-align: center;
		}
.celcius{
	display: none;
}
@media screen and (min-height: 620px){
	body{
		padding-top: 10%;
	}
}